<div class="tree-box">
  <ng-container *ngFor="let root of getRootNodes()">
    <ng-container *ngTemplateOutlet="tree; context: { node: root, level: 0, visited: initialVisited }"></ng-container>
  </ng-container>
  
  <ng-template #tree let-node="node" let-level="level" let-visited="visited">
    <div class="tree-item" [style.margin-left.px]="level === 0 ? 0 : (level - 1) * 25">
      {{ level === 0 ? node : '- ' + node }}
    </div>
    
    <ng-container *ngIf="!visited.has(node)">
      <ng-container *ngFor="let child of getChildren(node)">
        <ng-container *ngTemplateOutlet="tree; context: { 
          node: child, 
          level: level + 1, 
          visited: getUpdatedVisited(visited, node) 
        }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
